div#uc-color-attribute {
    margin:5px;
    background-color:#fff;
    min-height:30px;
}

div.colors-color {
    cursor:pointer;
    height:20px;
    width:20px;
    float:left;
    border:1px solid black;
    margin:4px;
}